.mario {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bolder;
    border-style: dotted;
    background-color: #ffffb3;
    padding: 15px;
}

body {
    text-align: center;
    background-color: #cceeff;
    font-style: bold;
}
.goomba {
    height: 100px;
}

.bobombs {
    height: 100px;
}

.cheep-cheeps {
    height: 100px;
}

footer {
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #e6ccb3;
}

.contact {
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    font-size: 40px;
    font-style: italic;
}

ul {
    font-weight: bold;
}
